body{
    background-color: rgb(8, 144, 235);
    font: normal 15pt Arial;
}

header{
    color: whitesmoke;
    text-align: center;

}

section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

footer{ 
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

div{
    text-align: center;
    padding: 5px;
}